@{
    Layout = "_ReportLayout";
}

<div>
    <ul class="detail-list">
        <li>
            <a href="/Report/Pageviews">
                <h3>Page Views</h3>
                <p>List of all site pages ordered by total page views.</p>
            </a>
        </li>
        <li>
            <a href="/Report/Pageviews">
                <h3>Another Report</h3>
                <p>Description of this other report that shows lots of data or pretty charts.</p>
            </a>
        </li>
    </ul>
</div>