@{
    Layout = "_AnalyticsLayout";
}

<div>
    <ul class="detail-list">

        <li>
            <a href="/Analytics/Overview">
                <h3>Overview</h3>
                <p>Summary of overall site traffic.</p>
            </a>
        </li>
        <li>
            <a href="/Analytics/Pageviews">
                <h3>Page Views</h3>
                <p>List of all site pages ordered by total page views.</p>
            </a>
        </li>
        <li>
            <a href="/Analytics/VisitsByMonth">
                <h3>Visits By Month</h3>
                <p>Breakdown of site-wide or page-specific visits by month.</p>
            </a>
        </li>

    </ul>
</div>