@model SparkServerLite.ViewModels.Analytics.ReportVisitsMonthViewModel
@{
    Layout = "_AnalyticsLayout";
    ViewData["Title"] = "Visits by Month";
}

<h2>@ViewData["Title"]</h2>

<div class="sub-menu">
    
</div>

<table class="report">
    <thead>
        <tr>
            <th>Month</th>
            <th>Visits</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lineItem in Model.ReportData)
        {
            <tr>
                <td>@lineItem.MonthLabel @lineItem.Year</td>
                <td>@lineItem.Visits</td>
            </tr>
        }

    </tbody>
</table>