/* Additional Resets and Tweaks */
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
html { overflow-y: scroll; }
img { max-width: 100%; }
a, a:visited { text-decoration: none; color: #00F; transition: all 0.1s ease-in-out; }
a:hover { color: #00F; text-decoration: underline; }
.cf:after { content: ""; display: table; clear: both; }
em { font-style: italic; }
.center { text-align: center; }

/* BASE */
body { min-width: 240px; text-align: center; font-family: 'XXXXXXX', arial, sans-serif; background-color: #F1F1F1; font-size: 16px; }
strong { font-weight: bold; } 
blockquote { font-style: italic; color: #555; margin: 0 1em 1.5em 1em; line-height: 1.5em; }
blockquote p:last-of-type { margin-bottom: 0; }

nav { display: block; }
nav ul li a { display: block; padding: 1em 0; }

.content { width: 100%; margin: 1em auto; background-color: #FFF; }

.logo-wrapper { width: 300px; margin: 0 auto; }

.section .title { padding: 2em; }

.hero { padding: 4em 1em; background-size: cover; background-position: center; }

.blog-card { padding: 1em; margin: 0 0 1em 0; background-color: #AAA;}
.blog-card:last-of-type { margin-bottom: 0; }
.blog-card h3 { font-size: 1.75em; }
.blog-card .subtitle { font-size: 1.25em; }
.blog-card .date { font-size: 0.85em; }

table { width: 100%; text-align: left; }
table th, td { padding: 1em; }
table th { background-color: #6e8198; color: #FFF; font-weight: bold; }
table tr:nth-child(even) { background-color: #f6f6f6; }
table tr:nth-child(odd) { background-color: #eaeaea; }

.bottom-nav { text-align: center; padding: 2em; }

@media (min-width: 600px)
{		

}

@media (min-width: 825px)
{
	.content { max-width: 80%; }
	.blog-card { display: grid; grid-template-columns: auto 1fr; }
	.blog-card img { grid-column: 1; padding-right: 1em}
	.blog-card .overview { grid-column: 2; text-align: left; }
}

@media (min-width: 1100px)
{
	
	

}

@media (min-width: 1200px)
{

}

@media (min-width: 1600px)
{
	.content { max-width: 1300px; }
}

/* DARK MODE */

@media (prefers-color-scheme: dark)
{

}