/* Additional Resets and Tweaks */
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
html { overflow-y: scroll; }
img { max-width: 100%; }
a, a:visited { text-decoration: none; color: #00F; transition: all 0.1s ease-in-out; }
a:hover { color: #00F; text-decoration: underline; }
.cf:after { content: ""; display: table; clear: both; }
em { font-style: italic; }
.center { text-align: center; }

/* BASE */
body { min-width: 240px; text-align: center; font-family: 'XXXXXXX', arial, sans-serif; background-color: #F1F1F1; font-size: 16px; }
strong { font-weight: bold; } 
blockquote { font-style: italic; color: #555; margin: 0 1em 1.5em 1em; line-height: 1.5em; }
blockquote p:last-of-type { margin-bottom: 0; }

nav { display: block; margin: 1em auto; width: 100%; }
nav ul { display: flex; justify-content: center; align-items: center; }
nav ul li a { display: block; padding: 1em; background-color: #AAA; padding: 1em 3em; margin: 0 1em; color: #FFF; }
nav ul li a:hover { text-decoration: none; }

.admin nav ul { display: block; }
.admin nav ul a { margin: 0.5em 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.65em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.45em; }

.content { width: 100%; margin: 0 auto; padding: 1em; background-color: #FFF; }

.logo-wrapper { width: 300px; margin: 0 auto; }

.loader { display: none; }
.loader-message { margin: 1em; padding: 1em; }

.section .title { padding: 1em 0; }

.hero { padding: 4em 1em; background-size: cover; background-position: center; }

.blog-card { padding: 1em; margin: 0 0 1em 0; background-color: #AAA; text-align: left; }
.blog-card:last-of-type { margin-bottom: 0; }
.blog-card img { margin-bottom: 1em; }
.blog-card h3 { font-size: 1.75em; margin-bottom: 0.5em; }
.blog-card .subtitle { font-size: 1.25em; margin-bottom: 0.5em; }
.blog-card .date { font-size: 0.85em; }

.sub-menu { padding: 1em 0; }

table { width: 100%; text-align: left; }
table th, td { padding: 1em; }
table th { background-color: #6e8198; color: #FFF; font-weight: bold; text-shadow: 1px 1px 0 #000; }
table tr:nth-child(even) { background-color: #f6f6f6; }
table tr:nth-child(odd) { background-color: #eaeaea; }

.status-message { margin: 1em auto 3em auto; padding: 1em; font-size: 1em; box-shadow: 0 0 24px #636363; border-radius: 12px; color: #FFF; font-weight: bold; }
.status-message.success { background-color: #1f650e; }
.status-message.error { background-color: #a50000; }

.field-validation-error { display: block; margin: 1em 0 1em 0; padding: 0.5em 1em; background-color: #a50000; color: #FFF; border-radius: 8px; font-weight: bold;}

form { width: 95%; margin: 0 auto; text-align: left; }
form .row { margin: 0 0 2em 0; }
form .row label { display: block; font-weight: bold; margin-bottom: 0.25em }
form .row > .controls { margin: 0.5em 0 0.5em 0; }
form input[type="text"], textarea, select { width: 100%; padding: 0.75em; box-shadow: inset 1px 1px 2px #AAA; border: 1px solid #AAA; border-radius: 4px; font-size: 1em; background-color: #f9f9f9; }
form input[type="submit"] { padding: 0.75em 2em; }
form input[type="file"] { margin: 1em 0; }
form .checkbox-list { max-height: 200px; overflow-y: auto; background-color: #eaeaea; border-radius: 8px; padding: 1em; columns: 1; margin-bottom: 0.5em; }

a.btn, .btn, button { display: inline-block; border-radius: 8px; cursor: pointer; padding: 0.75em 2em;  text-shadow: 1px 1px 0 #000; background-color: #4c7caa; color: #FFF; box-shadow: 0 3px 0 #313131; transition: none; border: none; }
a.btn:hover, .btn:hover, button:hover { background-color: #63a5e4; text-decoration: none;}
a.btn:active, .btn:active, button:active { box-shadow: 0 1px 0 #313131; position: relative; top: 3px; }
.btn.primary { padding: 1em 4em; font-weight: bold; font-size: 1.05em; }

.row.blog-media { padding: 1em; background-color: #DFDFDF; border-radius: 8px; }
.row.blog-media .upload { margin: 1em 0 0 0; }
.row.blog-media .upload .loader { margin: 1em 0;}
.row.blog-media h2 { font-weight: bold; }
.media-list ul li { display: grid; grid-template-columns: 1fr 2fr; padding-bottom: 1em; }
.media-list ul li:last-of-type { padding-bottom: 0; }
.media-list ul li .image-container { grid-column-start: 1; padding-right: 1em; }
.media-list ul li .image-container img { border-radius: 6px; }
.media-list ul li .text-container { grid-column-start: 2; }
.media-url { margin: 1em 0; padding: 0.5em; max-width: 100%; background-color: #EFEFEF; font-family: monospace; box-shadow: inset 1px 1px 2px #AAA; overflow-x: auto; border-radius: 4px; }

.bottom-nav { text-align: center; padding: 2em; }

footer { padding: 2em 1em; margin: 0 auto; text-align: left; line-height: 1.5em; }

@media (min-width: 600px)
{

}

@media (min-width: 825px)
{
	nav { max-width: 80%; }
	.admin nav ul { display: flex; }
	.admin nav ul li a { margin: 0 1em; }

	.section .title { padding: 1.5em 0; }
	
	.hero { margin-top: 2em; }

	.content { max-width: 80%; padding: 2em 1em; margin-top: 1em; }
	.blog-card { display: grid; grid-template-columns: auto 1fr; }
	.blog-card img { grid-column: 1; padding-right: 1em}
	.blog-card .overview { grid-column: 2; text-align: left; }

	.status-message { max-width: 600px; padding: 2em; line-height: 1.5em; }

	.sub-menu { padding: 2em 0; }

	form { width: 60% } 
	form .row { margin: 2em; }
	form .row label { margin-bottom: 0.5em; }
	form input.half { width: 50%; }
	form .checkbox-list { columns: 3 }

	.media-list ul li { }
	.media-list ul li .image-container { }

	
}

@media (min-width: 1100px)
{
	
	

}

@media (min-width: 1200px)
{

}

@media (min-width: 1600px)
{
	.content { max-width: 1200px; }
	footer { max-width: 1200px; }
}

/* DARK MODE */

@media (prefers-color-scheme: dark)
{

}