/* Additional Resets and Tweaks */
* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
html { overflow-y: scroll; }
img { max-width: 100%; }
a, a:visited { text-decoration: none; color: #00F; transition: all 0.1s ease-in-out; }
a:hover { color: #00F; text-decoration: underline; }
.cf:after { content: ""; display: table; clear: both; }
em { font-style: italic; }
.center { text-align: center; }

/* BASE */
body { min-width: 240px; text-align: center; font-family: 'XXXXXXX', arial, sans-serif; background-color: #F1F1F1; font-size: 16px; }
strong { font-weight: bold; } 
blockquote { font-style: italic; color: #555; margin: 0 1em 1.5em 1em; line-height: 1.5em; }
blockquote p:last-of-type { margin-bottom: 0; }

nav { }

.content { width: 100%; margin: 1em auto; background-color: #FFF; }

.logo-wrapper { width: 300px; margin: 0 auto; }

@media (min-width: 600px)
{		

}

@media (min-width: 825px)
{

}

@media (min-width: 1100px)
{

	.content { max-width: 80%; }
}

@media (min-width: 1200px)
{

}

@media (min-width: 1600px)
{
	.content { max-width: 1300px; }
}

/* DARK MODE */

@media (prefers-color-scheme: dark)
{

}