@model SparkServerLite.ViewModels.Admin.BlogTagListViewModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Blog Tag List";
}

<h1>@ViewData["Title"]</h1>

<div class="sub-menu">
    <a href="/Admin/BlogTagEdit" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> Add New Tag</a>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th># of Uses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlogTagList)
        {
            <tr>
                <td><a href="/Admin/BlogTagEdit?ID=@item.ID">@item.Name</a></td>
                <td>@item.Uses</td>
            </tr>
        }

    </tbody>
</table>