@{
    Layout = "_AdminLayout";
}

<div>
    <ul class="detail-list">
        <li>
            <a href="/Admin/BlogList">
                <h3>Blogs</h3>
                <p>Create, edit, and manage blog articles.</p>
            </a>
        </li>
        <li>
            <a href="/Admin/BlogTagList">
                <h3>Blog Tags</h3>
                <p>Manage blog tags.</p>
            </a>
        </li>
        <li>
            <a href="/Admin/Media">
                <h3>Media</h3>
                <p>Manage and use shared media.</p>
            </a>
        </li>
    </ul>
</div>