@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Media Manager";
}

<div class="content">

    <h2>Library Banners</h2>

    <div class="row library-media well">

        <div class="media-list" id="LibraryMediaList"></div>
        <img src="/images/loader.gif" alt="Loader GIF" id="LibraryMediaListLoader" class="loader" />

        <div class="media-upload">

            <input type="file" id="LibraryMediaFiles" multiple value="Choose files to upload..." />
            <label for="LibraryMediaFiles"></label>
            <button type="button" id="UploadLibraryMediaFiles"><i class="fa fa-upload" aria-hidden="true"></i> Upload Files</button>

            <div id="LibraryUploadMessage" class="loader">
                <img src="/images/loader.gif" alt="Loader GIF" />
                <p>Uploading media, please wait...</p>
            </div>

        </div>

    </div>

</div>

@section PageScripts {

    <script type="text/javascript">

        SparkServerAdmin.loadLibraryMediaList();

    </script>

}