@{
    Layout = "_AdminLayout";
}

<div class="content container">
    <h1>Media</h1>
    <table class="folder-list" id="MediaList">
        <thead>
            <tr>
                <td>Item</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="content container">
    <h1>Library</h1>
    <table class="folder-list" id="LibraryList">
        <thead>
            <tr>
                <td>Item</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>